@model MvcMovie.Models.Usuario

@{
    ViewData["Title"] = "Crear2";
}

<h2>
    Registro 
    <small class="text-muted">de usuarios</small>
    </h2>

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Usuario</li>
</ol>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroContrato" class="control-label"></label>
                <input asp-for="NumeroContrato" class="form-control" value = "Automatico" readonly  />
                <span asp-validation-for="NumeroContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEmpresa" class="control-label"></label>
                <input asp-for="NombreEmpresa" class="form-control" />
                <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroEmpleados" class="control-label"></label>
                <input asp-for="NumeroEmpleados" class="form-control" />
                <span asp-validation-for="NumeroEmpleados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RFC" class="control-label"></label>
                <input asp-for="RFC" class="form-control" />
                <span asp-validation-for="RFC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domicilio" class="control-label"></label>
                <input asp-for="Domicilio" class="form-control" />
                <span asp-validation-for="Domicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colonia" class="control-label"></label>
                <input asp-for="Colonia" class="form-control" />
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Giro" class="control-label"></label>
                <input asp-for="Giro" class="form-control" />
                <span asp-validation-for="Giro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAlta" class="control-label"></label>
                <input asp-for="FechaAlta" class="form-control" />
                <span asp-validation-for="FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel" class="control-label"></label>
                <input asp-for="Nivel" class="form-control" value="2" readonly   />
                <span asp-validation-for="Nivel" class="text-danger"></span>
            </div>    
  
                <br>

            <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">Advertencia!</h4>
            <p class="mb-0">Revisa tu bandeja de Spam en tu correo <a href="#" class="alert-link">cuando crees el usuario</a>.</p>
            </div>                               
                <br>


            <div class="form-group">

                <ol class="breadcrumb">
                <li class="breadcrumb-item"><input class="btn btn-primary" type="submit" value="Crear   "/></li>
                <li class="breadcrumb-item"><a class="btn btn-secondary" asp-action="Index">Regresar</a></li>

                </ol>
            </div>
            
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
