@model MvcMovie.Models.Pregunta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pregunta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaAlta" class="control-label"></label>
                <input asp-for="FechaAlta" class="form-control" />
                <span asp-validation-for="FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preguntaa" class="control-label"></label>
                <input asp-for="Preguntaa" class="form-control" />
                <span asp-validation-for="Preguntaa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Respuesta" class="control-label"></label>
                <input asp-for="Respuesta" class="form-control" />
                <span asp-validation-for="Respuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
