@model MvcMovie.Models.Login

@{
    ViewData["Title"] = "Create";
}

<br>

<hr />
<div class="row">
    <div class="col-md-4">
        <p style = "text-align:center">
         <img src="/Logo_035.png">
        <h1 class="display-4" style = "text-align:center">Bienvenidos</h1>  
        </p>
</div>
<div class="row">
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <label asp-for="Usuario" class="control-label" >Nombre de usuario o correo electronico</label>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input asp-for="Usuario" class="form-control" />
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <label asp-for="Password" class="control-label"></label>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input asp-for="Password" type="password" class="form-control"  />
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">

                <ol class="breadcrumb">
                <li class="breadcrumb-item"><input class="btn btn-primary" type="submit" value="Login   "/></li>
                <li class="breadcrumb-item"><a class="btn btn-secondary" asp-controller="Usuarios" asp-action="Create2">Registro</a></li>
                <li class="breadcrumb-item"><a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Regresar</a></li>

                </ol>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
