@{
    ViewData["Title"] = "C035";
}

<div class="text-center">
    <img src="Logo_035.png">
    <h1 class="display-4">Bienvenidos</h1>
    <h2 class="display-4"> Cuestionarios 035</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>