@{
    ViewData["Title"] = "C035";
}

<div class="text-center">
    <img src="Logo_035.png">
    <h1 class="display-4">Bienvenidos</h1>
    <h2 class="display-4"> Cuestionarios 035</h2>
    
</div>