@model MvcMovie.Models.CuesH

@{
    ViewData["Title"] = "Edit";
}

<h2>
    Edición
    <small class="text-muted">de Encabezado</small>
    </h2>

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Encabezados</li>
</ol>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id_Usuario" class="control-label"></label>
                <input asp-for="Id_Usuario" class="form-control" />
                <span asp-validation-for="Id_Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAlta" class="control-label"></label>
                <input asp-for="FechaAlta" class="form-control" />
                <span asp-validation-for="FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>


                <div class="form-group">

                <ol class="breadcrumb">
                <li class="breadcrumb-item"><input class="btn btn-primary" type="submit" value="Guardar   "/></li>
                <li class="breadcrumb-item"><a class="btn btn-secondary" asp-action="Index">Regresar  </a></li>

                </ol>
            </div>  
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
