@model MvcMovie.Models.Campana

@{
    ViewData["Title"] = "Create";
}

<h2>
    Creación
    <small class="text-muted">Campañas de encuestas</small>
    </h2>

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Crear</li>
</ol>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_Usuario" class="control-label"></label>
                <input asp-for="Id_Usuario" class="form-control" />
                <span asp-validation-for="Id_Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_CuesH" class="control-label"></label>
                <input asp-for="Id_CuesH" class="form-control" />
                <span asp-validation-for="Id_CuesH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAlta" class="control-label"></label>
                <input asp-for="FechaAlta" class="form-control" />
                <span asp-validation-for="FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dias" class="control-label"></label>
                <input asp-for="Dias" class="form-control" />
                <span asp-validation-for="Dias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">

                <ol class="breadcrumb">
                <li class="breadcrumb-item"><input class="btn btn-primary" type="submit" value="Crear   "/></li>
                <li class="breadcrumb-item"><a class="btn btn-secondary" asp-action="Index">Regresar</a></li>

                </ol>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
